html {
    background-image: url(./изображения/сакура.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body{
font-family: Rubik One;
margin-left: 20%;
margin-right: 20%;
}

.flex-container{
display:flex;
justify-content: space-around;
align-items:flex-end;
padding: 2px;
}

.flex-container1{
display:flex;
justify-content: space-around;
background-color:#f7eeec;
text-align:center;
padding-top: 2.5%;
padding-bottom: 2.5%;
}

.flex-container2{
display:flex;
flex-direction: column;
justify-content: space-around;
background-color:white;
padding-top: 2%;
padding-bottom: 2%;
}

.flex-item{
text-align:center;
font-size:23px;
color:#7D7878;
}


#button {background-color:#d6aeb0; color: #5A5757; font-size: 28px; padding-top: 2%; padding-bottom:2%; margin-left: 28%; margin-right: 28%; text-align:center; z-index:1; position: relative;}
#button:hover{background-color:pink; color: #52514a; padding-left:0.25%;padding-right:0.25%; z-index:1; position: relative;}

.button1 { z-index:1;}
.button1:hover{ color: #b08f91; z-index:1;}

.color1{background-color:#f7eeec; color: #5A5757; font-size: 28px;}
.color2{background-color:white; color: #5A5757; font-size: 23px;
text-align:left; padding-left:10%; padding-right:10%;}
.color3{background-color:white;font-size: 23px;color:#5A5757;
text-align:center; padding-top:3%; padding-bottom: 2%;}
.color4{font-size:18px; color:#7D7878;text-align:center; padding-top: 4%;}
.color5{font-size:23px; color:#7D7878; text-align:center;padding-top:2%;}


.center-pic{
text-align:center;
}

margin-bottom 

container {
	display: flex;
	justify-content:space-around;
	align-items:flex-end;
}

.center-pic1{
	position:absolute;
	padding-top:5.25%;
	padding-bottom: 5%;
}

a{
	color:#5A5757;
	text-decoration:none;
	}
	a:hover{
		z-index:1;
		color:#b08f91;
	}

.nbsp{padding-left:19%;}
.nbsp1{padding-left:9%;}